{% extends "layouts/base2.html" %} {% block title %} Dashboard {% endblock title%}
    <!-- Specific CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %} 
    {% block content %}
    <div class="card text-center">
        <div class="card-header">
          Thank You
        </div>
        <div class="card-body">
          <h5 class="card-title"> Successfully Upload Your Tax Return Copy </h5>
          <p class="card-text"></p>
          
        </div>
        <div class="card-footer text-muted">
            <a href="/"> Go Home</a>
        </div>
      </div>

    {% endblock content %}