{% extends "layouts/base2.html" %} {% block title %} Dashboard {% endblock title
  %}
  <!-- Specific CSS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %} 
  
  {% block content %}
  <style>
    .form-group.required .control-label:after {
      content:"*";
      color:red;
    }
  </style>
  <div class="my-3">
      <div class="row ">
        <div class="col-12 col-md-8">
          <div class="">
            <div>
              <div class="alert alert-warning" id="msg" style="display:none;">
                 
                <p class="alert"><strong><span id="errmsg"></span></strong></p>
               
              </div>
                <div class="card text-center">
                  <div class="card-header">
                    Step 2 : Please Enter Your New Email Address
                  </div>
                <div class="card-body">
                <form action="/profile/email/{{requestid}}/{{type}}" method="post">
                  <div class="form-group required row">
                    <label for="account_number" class="col-md-4 col-form-label control-label"
                      ><strong> Enter Your Email Address</strong></label
                    >
                    <div class="col-md-8">
                      <div class="input-group mb-3">
                        <input
                          type="text"
                          class="form-control rounded-0"
                          name="email"
                          id="email"
                          placeholder="Please Enter Your Email"
                          aria-label="Email Number"
                          required
                          aria-describedby="basic-addon2"
                      />
                      <input
                        type="hidden"
                        id="csrf_token"
                        name="csrf_token"
                        value="{{csrf_token()}}"
                      />
                      <input type="hidden" id="requestid" name="requestid" value="{{requestid}}"/>
                      <input type="hidden" id="request_type" name="request_type" value="{{type}}"/>
                      <div class="input-group-append">
                        <button class="btn btn-danger rounded-0" type="submit">
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              </div>
              <div class="card-footer text-muted">

              </div>
              </div>
  
              <hr class="hr" />
              <a class="" id="btnClick"  data-toggle = 'collapse'  href="#instructions" aria-expanded="false" area-controls="instructions"> Click to View Instructions</a>
              <div class="my-3" id ="instructions" class ="collapse" style="display:none;">
                <div class="card bg-light mb-3 rounded-0">
                  <div class="card-header text-left">Instruction to Update Your Email </div>
                  <div class="card-body">
                    
                    <p class="h7"> <strong>Step 1 : Verify one-time password (OTP) by Mobile </strong> </p>
                    <hr class="hr" />
                    
                    <small>
                      <ol>
                        <li>Please enter your 13 digits account number</li>
                        <li>OTP will be sent to your mobile number, which is tagged with the account</li>
                        <li>Verify the request using OTP</li>
                        
                      </ol>
                    </small>
                    <p class="h7"> <strong> Step 2 : Verify one-time password (OTP) by Email </strong> </p>
                    <hr class="hr" />
                    <small>
                      <ol>
                      <li>Please enter your email address </li>
                      <li>OTP will be sent to your email address </li>
                     <li>Verify the request using OTP</li>
                     
                    </ol>  
                    </small>
                    <!--<small class="card-text text-danger">
                      * Note - Statement period is from
                      <strong>July 2022 to December 2022</strong>
                    </small>-->
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
  
        <div class="col-12 col-md-4">
          <div class="owl-carousel owl-theme">
            <div class="item">
              <img src="/static/images/bengali-01.jpg" alt="" />
            </div>
            <!--<div class="item">
              <img src="/static/images/AB Direct.png" alt="" />
            </div>
            <div class="item">
              <img src="/static/images/Main Design 2-01.jpg" alt="" />
            </div>-->
          </div>
  
          <a
            href="https://abdirect.abbl.com/login.html#!"
            class="btn btn-danger btn-block rounded-0"
          >
            Click Here to Visit AB Direct
          </a>
        </div>
        <script>
          $(document).ready(function(){
            $('#instructions').hide(); 
            //$('#instructions').collapse({'toggle':false});
            //$('#instructions:visible').hide(); 

            //$('#instructions:hidden').show(); 

            $("#btnClick").click(function(e){
              //$('#instructions').collapse({'toggle':true});
              //$('#instructions').show(); 
              //$('#instructions:visible').hide(); 

              var x =  document.getElementById("instructions");
              //alert (x.style.display);
              if (x.style.display == "none"){
                x.style.display = "block"
              }else {
                x.style.display = "none"
              }

              //$('#instructions:hidden').show(); 
                
            });
              

          });


          $('form').one('submit', function(e){
                  e.preventDefault();
                  //alert ('this');
                  var pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
                  var userinput = $('#email').val();
                  //alert (userinput);
                  if(!pattern.test(userinput))
                  {
                    //alert('not a valid e-mail address');
                    $('#msg').show();
                    $('#errmsg').html('Email is not Valid!!! Please try with Correct Email.')
                    return false;
                  }else {
                    $(this).submit();
                    //alert('a valid e-mail address');
                  }

                  //$(this).submit();
                  //return false;
                });

         </script> 
        <!-- Specific Page JS goes HERE  -->
        {% block javascripts %}{% endblock javascripts %}
      </div>

    {% endblock content %}
  </div>
  