<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock  title%}</title>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="icon" type="image/ico" href='/static/image/favicon.ico'/>
    
    
    <!-- Bootstrap -->
    <link rel="icon" type="image/ico" href='/static/image/favicon.ico'/>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="/static/formc/bootstrap-5.0.2/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="/static/formc/css/flexslider.css"
      type="text/css"
      media="screen"
    />
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!--<link rel="stylesheet" href="/static/formc/css/style.css" />-->
    <!--<link rel="stylesheet" href="/static/css/headers.css" />-->
  <body>
    
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0">
          <img class="img-fluid" src="/static/image/ab_logo.png" alt="AB BANK Limited"  loading="lazy"/>
        </a>
  
        <!--<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
          
        </ul>-->
  
        <!--<div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2">Login</button>
          <button type="button" class="btn btn-primary">Sign-up</button>
        </div>-->
      </header>
    </div>
    
    <div class="b-example-divider"></div>
    
    {% block content %}{% endblock content %}
      
        
        
    <div class="footer" style="
            position: relative;
            
            font-weight: 700;
            font-size: 13px;
            text-align: left;
            padding: 0;
            margin-top: 2.7%;
            color: #909090;
            text-transform: capitalize;
            width: 100%;
            min-height: 27px;
            background: rgba(15, 13, 13, 0.82);">
          <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p
                  class="copyright"
                  style="
                    line-height: 27px;
                    font-size: 11px;
                    text-align: center;
                    color: #909090;
                    margin: 0;
                  "
                    >
                     Copyright &copy; 2023 AB Bank. All Rights Reserved.
                    </p>
                    </div>
                </div>
            </div>
        </div>
     


      <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
      <script src="/static/formc/bootstrap-5.0.2/js/bootstrap.js"></script>
    
    {% block js  %}

    {% endblock %}

</body>
</html>
