.DS_Store
.env
.flaskenv
*.pyc
*.log
*.pyo
env/
venv/
.venv/
env*
dist/
build/
logs/
migrations/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
