<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AB Bank To bKash OTP</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.0.2/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='bootstrap-5.0.2/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Uff!, Oh No</h1>
    <p class="lead">Couldn't find this page. I'm sure its a 404!</p>
  </div>
</div>
</body>
</html>
