{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} 
{% block content %}
<style>
    .active {
        background: #fcfcfc !important;
    }
    .nav>li>a {
       font-size: large; 

    }
</style>

<div class="container">

    
       

<div class="row ">

    <div class="col-lg-12 ml-auto" data-aos="fade-up" data-aos-delay="100">
              
        <h3 class="text-black mb-4">Please Submit your Email/NID/TAX Return </h3>
    </div>
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <!--<ul class="maps-tabs" role="tablist">
            <li class="active"><a href="#branch" role="tab" data-toggle="tab"> Update Email</a></li>
            <li><a href="#atm" role="tab" data-toggle="tab"> Update NID</a></li>
            <li><a href="#atm" role="tab" data-toggle="tab"> Submit TAX Return</a></li>
        </ul>
        <div class="tab-content bg-success">
            <div class="tab-pane active in" id="branch">
                    
                <div class="table-responsive">
                <table id="branch-table" class="display dataTable" style="width:100%">
                    <thead>
                        
                        <div class="container updtaes" style="background-color: #ffffff">
                            <div class="row" style="margin-top:20px;margin-bottom:20px">
                                <div class="m-4">
                                    <form action="/" method="post" >
                                        <div class="row align-items-center g-3" style=" display: flex;align-items: center;justify-content: center;height: 100%;">
                                            <div class="col-auto">
                                                <div class="form-check">
                                                    <label class="form-check-label" for="account_number"> Account Number :</label>
                                                </div>
                                            </div>
                                        <div class="col-auto">
                                            <input type="text" class="form-control" name="accnt_no" id="inputAccount" placeholder="400*********300" required>
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" style="background-color: #bb151c;border: none;;border-radius: 5px;color: white;text-align: center; font-size: 16px;height:40px;width:100px;margin-left:15px">Submit</button>
                                            <input type="hidden" id="csrf_token" name="csrf_token" value="{{csrf_token()}}"/>
                                        </div>
                                    </div>
                                </form>
                                </div>
                        </div>
                    </div>
                    <div class="container updates">  <img  src="/static/image/abbl.png" /></div>
                    </thead>
                </table>
                </div>	
             </div>					
        </div>-->

        <div class="m-4">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab">
                        <li class="nav-item ">
                            <a href="#home" class="nav-link show active" role="tab" data-toggle="tab">Submit Email</a>
                        </li>
                        <li class="nav-item">
                            <a href="#profile" class="nav-link" role="tab" data-toggle="tab">Submit NID</a>
                        </li>
                        <li class="nav-item">
                            <a href="#messages" class="nav-link" role="tab" data-toggle="tab">Submit Tax Return</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane  fade show active" id="home">
                            <h5 class="card-title">Email Update</h5>
                            <form action="/" method="post" >
                                <div class="row align-items-center g-3" style=" display: flex;align-items: center;justify-content: center;height: 100%;">
                                    <div class="col-auto">
                                        <div class="form-check">
                                            <label class="form-check-label" for="account_number"> Account Number :</label>
                                        </div>
                                    </div>
                                <div class="col-auto">
                                    <input type="text" class="form-control" name="accnt_no" id="inputAccount" placeholder="400*********300" required>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" style="background-color: #bb151c;border: none;;border-radius: 5px;color: white;text-align: center; font-size: 16px;height:40px;width:100px;margin-left:15px">Submit</button>
                                    <input type="hidden" id="csrf_token" name="csrf_token" value="{{csrf_token()}}"/>
                                </div>
                            </div>
                        </form>
    
    
                        </div>
                        <div class="tab-pane fade" id="profile">
                            <h5 class="card-title">NID Update</h5>
                            <p class="card-text">Coming Soon.</p>
                            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                        </div>
                        <div class="tab-pane fade" id="messages">
                            
                            <form action="/" method="post" >
                                <div class="row align-items-center g-3" style=" display: flex;align-items: center;justify-content: center;height: 100%;">
                                    <div class="col-auto">
                                        <div class="form-check">
                                            <label class="form-check-label" for="account_number"> Account Number :</label>
                                        </div>
                                    </div>
                                <div class="col-auto">
                                    <input type="text" class="form-control" name="accnt_no" id="inputAccount" placeholder="400*********300" required>
                                </div>
                                <div class="col-auto">
                                    <div class="form-check">
                                        <label class="form-check-label" for="account_number">Upload File :</label>
                                    </div>
                                </div>
                            <div class="col-auto">
                                <input type="file" class="form-control" name="tax_file" id="inputAccount"  required>
                            </div>
                                <div class="col-auto">
                                    <button type="submit" style="background-color: #bb151c;border: none;;border-radius: 5px;color: white;text-align: center; font-size: 16px;height:40px;width:100px;margin-left:15px">Submit</button>
                                    <input type="hidden" id="csrf_token" name="csrf_token" value="{{csrf_token()}}"/>
                                </div>
                            </div>
                        </form>
                            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="col"><hr /></div>
       
    
   

    <section class="site-section">
        <div class="container">
  
          <!--<div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
              <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">How It Works</h2>
              <p class="lead" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas fugiat molestiae eligendi repudiandae error?</p>
            </div>
          </div>-->
          
          <div class="row align-items-lg-center">
            <div class="col-lg-10 mb-5" data-aos="fade-up" data-aos-delay="">
  
              <div class="owl-carousel slide-one-item-alt">
                <img src="/static/image/Main Design 2 Bengali-01.jpg" alt="Image" class="img-fluid">
                <img src="/static/image/Main Design 2-01.jpg" alt="Image" class="img-fluid">
                <!--<img src="/static/image/AB Direct.png" alt="Image" class="img-fluid">-->
              </div>
              <!--<div class="custom-direction">
                <a href="#" class="custom-prev"><span><span class="icon-keyboard_backspace"></span></span></a><a href="#" class="custom-next"><span><span class="icon-keyboard_backspace"></span></span></a>
              </div>-->
  
            </div>
            <!--<div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
              
              <div class="owl-carousel slide-one-item-alt-text">
                <div>
                  <h2 class="section-title mb-3">01. Online Applications</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nisi, deserunt necessitatibus odio magnam nihil illum
                    neque voluptas?</p>
  
                  <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
                </div>
                <div>
                  <h2 class="section-title mb-3">02. Get an approval</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nisi, deserunt necessitatibus odio magnam nihil illum neque voluptas?</p>
                  <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
                </div>
                <div>
                  <h2 class="section-title mb-3">03. Card delivery</h2>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore sapiente labore eius ullam? Iusto?</p>
  
                  <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
                </div>
                
              </div>
              
            </div>-->
          </div>
        </div>
      </section>



</div>


{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}



