<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AB Bank To bKash OTP</title>

<!--<link rel="stylesheet" href="{{url_for('static', filename='bootstrap-5.0.2/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='bootstrap-5.0.2/js/bootstrap.bundle.min.js') }}"></script>
-->

<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.redirect.js') }}"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <div class="pos-f-t">
        <nav class="navbar navbar-dark">
            <head>
                <a href="#" class="nav-link previous round">&#8249;</a>
                <span class="navbar-text flex-sm-fill text-sm-center"><!--Bank To bKash--></span>
                <a href="#" class="nav-link next round">&#8250;</a>
          </head>
      </nav>

    </div>
    <div class="container">
        <div class="row bg-light">
            <!-- Just an image -->
			<nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" href="#">
				    <img src="{{ url_for('static', filename='image/ab_logo.png') }}"  alt="">
				</a>	
			</nav>
        </div>

        <div class="row">
            <div class="m-4">
                <form action="/email/{{requestid}}/{{type}}" method="post">
                    <div class="row align-items-center g-3">
                        
                        <div class="col-auto">
                            <div class="form-check">
                                <label class="form-check-label" for="account_number"> Email :</label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label class="visually-hidden" for="inputEmail">Email</label>
                            <input type="text" class="form-control" name="email" id="email" placeholder="type your email" required>
                        </div>
                        
                        
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Email Update</button>
                            <input type="hidden" id="csrf_token" name="csrf_token" value="{{csrf_token()}}"/>
                            <input type="hidden" id="requestid" name="requestid" value="{{requestid}}"/>
                            <input type="hidden" id="request_type" name="request_type" value="{{type}}"/>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        
        
    </div>
    
    <script src="{{ url_for('static', filename='js/otp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
